{% extends "base.html" %}

{% block content %}
    <div class="content-head">
        <h2 class="head-content">{{ subject.name }}</h2>
        <hr>
        <div class="subject-box l-d">
            <div class="headbox-s">
                <a class="subject btn head-s" href="#">TEXTBOOKS</a>
                <a class="subject btn head-s" href="#">NOTES</a>
            </div>
            <div class="main-box">
                <a class="subject btn s-d" href="#">Lessons</a>
                <a class="subject btn s-d" href="#">Class Work</a>
                <a class="subject btn s-d" href="#">Home Work</a>
            </div>    
        </div>
    </div>

{% endblock content %}